<div class="site-header">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Home Page" class="home-page-nav">
      <app-home></app-home>
    </mat-tab>
    <mat-tab label="History Timeline">
      <app-history></app-history>
    </mat-tab>
    <mat-tab label="Modern Racism"></mat-tab>
    <mat-tab label="Climate Action"></mat-tab>
    <mat-tab label="Our Book Club"> </mat-tab>
    <mat-tab label="Current Protests"></mat-tab>
    <mat-tab label="Political Terminology"></mat-tab>
    <mat-tab label="External Links"></mat-tab>
  </mat-tab-group>
</div>
