<div class="site-page">
  <div class="site-header">
    <p class="site-name">Informed Consent</p>
    <nav mat-tab-nav-bar animationDuration="0ms">
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div>
    <mat-card-footer class="site-footer">
      <button mat-icon-button>
        <fa-icon [icon]="faDiscord" class="icon"></fa-icon>
      </button>
      <button mat-icon-button>
      <fa-icon [icon]="faTiktok" class="icon"></fa-icon>
      </button>
      <button mat-icon-button>
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
      </button>
      <button mat-icon-button>
      <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
      </button>
      <button mat-icon-button>
      <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
      </button>
    </mat-card-footer>
  </div>
</div>
