<div class="home-page">
  <p class="home-page-title">About Us </p>
  <div class="home-page-cards">
    <mat-card class="home-card sort-cards">
      <mat-card-title>Why we started Informed Consent</mat-card-title>
      <mat-card-content>
        In an age where we are seeing a rise in nationalism, misinformation, inequality and continued global climate
        change, we think it is vital to the success of democracy that we have resources outside of moneyed interests.
        Whether it is Fox News or CNN, our news has become a commodity. Those news sources rely on misinformation and
        entertainment style journalism, neither of which has the intention to layout facts with an emotion-free
        response. We don't believe that these news sources can be critical of the United States government, since they
        benefit from painting the US in a positive light.
      </mat-card-content>
      <mat-card-content>
        Aristotle understood that inequality is a threat to democracy. He concluded that you can either reduce
        inequality or reduce democracy. We think it is easy to see which choice is being pursued by those in power.
        The atrocities of the past cannot happen again.
      </mat-card-content>
    </mat-card>
    <mat-card class="home-card sort-cards">
      <mat-card-title>Our Inspiration:</mat-card-title>
      <div class="photo-card">
        <img src="./assets/img/father.jpg" class="photos">
        <img src="./assets/img/len.jpg" class="photos">
        <img src="./assets/img/ravera.jpg" class="photos">
        <img src="./assets/img/ruth.jpg" class="photos">
        <img src="./assets/img/mlk.jpg" class="photos">
        <img src="./assets/img/malcom.jpg" class="photos">
      </div>
    </mat-card>
  </div>
  <p class="home-page-title">A Little Bit About Our Team:</p>
  <div class="home-page-cards">
    <mat-card class="home-card sort-cards">
      <mat-card-title>Joy Mart:</mat-card-title>
      <mat-card-content>
        Joy is our site developer.
        While attending a state school for an environmental science degree the Covid-19 pandemic hit America.
        Having to leave her job due to covid related problems, Joy was fortunate enough to attend an online coding boot
        camp and graduated after a few months. After working in customer service jobs for 5.5 years she finally got a
        job making a livable wage. Now she is a software developer for a medical supply and pharmacy company. She does
        not hold any love for CEO or chief officers. It is a corporation like all the others. She counts herself lucky
        to have gotten this job. Joy wants to spread the word that this capitalist society is not helping anyone but the
        very wealthiest. Everyone is a pawn, but we could just stop playing the game if we work together. Joy grew up in
        a conservative, fundamentalist christian family which indoctrinated her to believe some very questionable
        things, but she was always curious. After years of deconstructing her faith she has come to the conclusion that
        the religions we practice today have been alienated from the original meanings. And she discovered everything
        was alienated from itself. Many of our perceptions about the way in which the world works are just that -
        perceptions. Most of us live paycheck-to-paycheck and Joy believes that through class consciousness this can
        change. Ultimately she wants to unite the working class and educate them. One world, one people.
      </mat-card-content>
    </mat-card>
    <mat-card class="home-card sort-cards">
      <mat-card-title>Skyler Mart:</mat-card-title>
      <mat-card-content>Skyler is the researcher and content manager of the site.</mat-card-content>
    </mat-card>
  </div>
</div>
