<div class="home-page">
  <div class="home-page-cards">
    <mat-card class="home-card sort-cards">
      <mat-card-title>Home</mat-card-title>
      <mat-card-content>Why we started this site:</mat-card-content>
      <mat-card-content>As a young gen-z couple we realized america has gone to shit</mat-card-content>
    </mat-card>
    <mat-card class="about-card sort-cards">
      <mat-card-title>Home</mat-card-title>
      <mat-card-content>Why we started this site:</mat-card-content>
      <mat-card-content>As a young gen-z couple we realized america has gone to shit</mat-card-content>
    </mat-card>
  </div>
  <div class="home-page-cards">
    <mat-card class="home-card sort-cards">
      <mat-card-title>Home</mat-card-title>
      <mat-card-content>Why we started this site:</mat-card-content>
      <mat-card-content>As a young gen-z couple we realized america has gone to shit</mat-card-content>
    </mat-card>
    <mat-card class="about-card sort-cards">
      <mat-card-title>Home</mat-card-title>
      <mat-card-content>Why we started this site:</mat-card-content>
      <mat-card-content>As a young gen-z couple we realized america has gone to shit</mat-card-content>
    </mat-card>
  </div>
</div>
